<html>

	<head>
		<meta charset="utf-8">
		<title>MyMenu</title>
		<meta name="description" content="In this app you can browse, create and edit restaurant menus.">
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css">
		<meta name="viewport" content="width=device-width,initial-scale=1">
		<link rel=stylesheet type=text/css href="{{ url_for('static', filename='styles.css') }}">
	</head>
	<body>
		<header>
			<h1 class="title">MyMenu</h1>
		</header>

		<main>
			<a href="{{url_for('showMenu', restaurant_id=restaurant_id)}}" class="goback">
				<svg fill="#888888" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
				 	<path d="M20 11H7.83l5.59-5.59L12 4l-8 8 8 8 1.41-1.41L7.83 13H20v-2z"/>
				</svg>
			</a>
			<h2> New Menu Item </h2>
			<form action="{{url_for('newMenuItem', restaurant_id=restaurant_id )}}" method = 'POST'>
				<input type='text' size='30' name='name' placeholder="Name" class="someinput"><br>
				<input type='text' size='30' name='description' placeholder="Description" class="someinput"><br>
				<input type='text' size='30' name='price' placeholder="Price" class="someinput"><br>
				<p class="identifyfield">Course</p>
				<input type="radio" name="course" value="appetizer" checked>Appetizer<br>
				<input type="radio" name="course" value="entree">Entree<br>
				<input type="radio" name="course" value="dessert">Dessert<br>
				<input type="radio" name="course" value="beverage">Beverage<br>
				<input type='submit' value='Create' class="applychanges"><br>
			</form>
		</main>
		<footer>
			<a class="view-source" href="https://github.com/almahex/my-menu" title="View source for this page on GitHub">View source on GitHub</a>
      		<p>© Copyright 2018 by Sara Garci. All rights reserved.</p>
    	</footer>
	</body>

</html>